
section {
    max-width: 900px;
    margin: auto;
}

.blocInfoHeader {
    color: blanchedalmond;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.blocInfo {
    background-color: #ccc;
    margin-bottom: 2em;
}

.blocInfoTextarea {
    width: 100%;
    resize: none;
    background: #EEE;
    padding: 1em;
    margin: 0;
    box-sizing:border-box;
    border: 0;
}

.blocInfoTextarea:focus{
    outline: none;
}

textarea.blocInfoTextarea.textAreaEditable {
    outline: black solid 3px;
}