
code {
    background-color: #aaa;
}

pre {
    background:bisque;
    padding:10px;
    display: inline-block;
    white-space: pre-wrap;
    background: #EEE;
}

section {
    max-width: 900px;
    margin: auto;
}

.blocInfoHeader {
    color: blanchedalmond;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.blocInfo {
    background-color: #ccc;
    margin-bottom: 2em;
}